# Backend Configuration
PORT=5000
SECRET_KEY=your_super_secret_key_here
ADMIN_PASSWORD=your_secure_admin_password
PABBLY_WEBHOOK_URL=https://connect.pabbly.com/workflow/sendwebhookdata/IjU3NjcwNTZmMDYzMjA0M2M1MjY0NTUzNDUxM2Ii_pc

# Optional: Set to production for serving the frontend build
# NODE_ENV=production
